<VirtualHost *:80>
    ServerName http://www.add.learning.aau.dk/
    DocumentRoot /srv/www/add.learning.aau.dk/http/scopus
    <Directory "/srv/www/add.learning.aau.dk/http/scopus">
        <IfModule mod_rewrite.c>
           RewriteEngine On
           RewriteBase /
           RewriteRule ^index\.html$ - [L]
           RewriteCond %{REQUEST_FILENAME} !-f
           RewriteCond %{REQUEST_FILENAME} !-d
           RewriteRule . /index.html [L]
        </IfModule>
    </Directory>
</VirtualHost>